@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
    background: #D4D4D4;
}
#erroPreencherCampos{
    background: rgb(255, 23, 23);
    color: white;
    width: 100%;
    font-weight: 500;
    padding: 5px 0px;
}
h1{
    margin-top: 50px;
}
main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.btnDefault{
    background: #00AB59;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 200px;
    width: 180px;
    position: absolute;
    right: 100px;
}
#modeloAdicionaProduto{
    width: 500px;
    position: absolute;
    left: 33%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 100000;
}
#fecharModelo{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 600;
    color: white;
    background:#00AB59;
    padding: 0px 6px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
}
#modeloAdicionaProduto form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}
#precoProdutoInput, #nomeProdutoInput{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
}
#imgProduto{
    border: none;
}
#enviarProdutoInput{
    background: #00AB59;
    padding: 3px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
table{
    margin: auto;
    width: 500px;
    margin-top: 50px;
    text-align: left;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    padding: 0 5px;
}
.deleteBtnTd{
    padding: 0;
}
#deleteBtn{
    background: rgb(255, 36, 36);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 28px;
    border: none;
    cursor: pointer;
}
#styleWebsiteSection{
    margin-top: 30%;
}
section{
    height: 90vh;
}
section form{
    margin: auto;
    margin-top: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}
#sendBannerBtn{
    font-weight: 600;
    color: white;
    background:#00AB59;
    padding: 5px 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media(max-width: 768px){
    .btnDefault{
        padding: 5px 2px;
        font-size: 12px;
        width: 140px;
        right: -70px;
        font-weight: 600;
    }
    #modeloAdicionaProduto{
        left: 130px;
        padding: 20px;
    }
}
@media(max-width: 425px){
    .btnDefault{
        padding: 5px 2px;
        font-size: 12px;
        width: 140px;
        right: -165px;
        font-weight: 600;
    }
    table{
        width: 350px;
        margin-top: 50px;
        text-align: left;
        font-size: 14px;
    }
    #modeloAdicionaProduto{
        width: 350px;
        left: 20px;
        padding: 20px;
    }
}
@media(max-width: 375px){
    table{
        width: 315px;
    }
    #modeloAdicionaProduto{
        width: 290px;
        left: 20px;
        padding: 20px;
    }
    h1, h2{
        font-size: 24px;
    }
}
@media(max-width: 320px){
    table{
        width: 270px;
    }
    #modeloAdicionaProduto{
        width: 240px;
    }
    section form{
        width: 250px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 7e1ad8e95b32e900600d0cca1a3c931163f79826
