@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
    background: #D4D4D4;
}
#erroPreencherCampos{
    background: rgb(255, 23, 23);
    color: white;
    width: 100%;
    font-weight: 500;
    padding: 5px 0px;
}
h1{
    margin-top: 50px;
}
main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.btnDefault{
    background: #00AB59;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 200px;
    width: 180px;
    position: absolute;
    right: 100px;
}
#modeloAdicionaProduto{
    width: 500px;
    position: absolute;
    left: 26%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 100000;
}
#fecharModelo{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 600;
    color: white;
    background:#00AB59;
    padding: 0px 6px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
}
#modeloAdicionaProduto form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}
#precoProdutoInput, #nomeProdutoInput{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
}
#imgProduto{
    border: none;
}
#enviarProdutoInput{
    background: #00AB59;
    padding: 3px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
table{
    margin: auto;
    width: 500px;
    margin-top: 50px;
    text-align: left;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    padding: 0 5px;
}
.deleteBtnTd{
    padding: 0;
}
#deleteBtn{
    background: rgb(255, 36, 36);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 28px;
    border: none;
    cursor: pointer;
}
#styleWebsiteSection{
    margin-top: 30%;
}
section{
    height: 90vh;
}
section form{
    margin-top: 20px;
}